* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

html {
     scroll-behavior: smooth;
}

body {
     font-family: Arial, Helvetica, sans-serif;
}

p {
     vertical-align: baseline;
}

.bg-grid {
     max-width: 1024px;
     display: grid;
     grid-template-columns: 100%;
     grid-column-gap: 2rem;
     width: calc(100% - 2rem);
     margin-left: 1rem;
     margin-right: 2rem;
}

.header-section {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     background-color: #f2f2f2;
     box-shadow: 0px 1px 4px rgba(146, 161, 176, .15);
     z-index: 100;
}

.container {
     box-sizing: border-box;
     margin: 0 auto;
     max-width: 1200px;
     padding: 0 20px;
     position: relative;
     width: 100%;
}

/**************************
*HEADER STYLING RULES
***************************/

.navbar-1 {
     font-size: 80%;
     padding: 1rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
}

.nav-link::after {
     position: absolute;
     content: "";
     width: 100%;
     height: 0.18rem;
     top: 1.3rem;
     left: 0;
     background-color: #5372f0;
}

#nav-list {
     list-style: none;
     padding: 0;
     margin: 0;
}

.active::after {
     position: absolute;
     content: "";
     width: 100%;
     height: 0.18rem;
     top: 1.3rem;
     left: 0;
     background-color: #5372f0;
}

/* .show {
     left: 100%;
     transition: 1.5s;
} */

.nav-item {
     margin-bottom: 3rem;
}

.nav--link:hover {
     position: relative;
}

.nav-link {
     text-decoration: none;
     color: #fff;
     position: relative;
     font-size: .95em;
}

.btn-toggle {
     display: none;
}

.btn-toggle span {
     font-size: 2rem;
     color: #333;
     cursor: pointer;
}

.nav-logo p img {
     height: 25px;
     margin-right: 6px;
}

.nav-logo p {
     font-size: 20px;
     display: flex;
     align-items: center;
}

.nav-2 {
     height: 40%;
     padding: 5px;
     width: auto;
     background: orange;
     color: #fff;
}

.nav-2 p {
     font-size: .95em;
     padding: 7px;
     margin-left: 5px;
}

.nav-2 p a {
     color: #fff;
}

/**************************
*MAIN STYLING RULES
***************************/

.hero-section {
     min-height: 350px;
     position: relative;
}

.hero-section-copy {
     padding-top: 150px;
     padding-left: 0;
     padding-right: 0;
     padding-bottom: 0;
     width: 50%;
}

.hero-section-copy h1 {
     color: rgba(0, 0, 0, .87);
     font-size: 2.75em;
     line-height: 1.1em;
     margin-bottom: 24px;
     padding: 0 20px;
}

.hero-section-copy p {
     color: rgba(0, 0, 0, .87);
     font-size: 1.25em;
     line-height: 1.5em;
     padding: 12px 24px;
}

.hero-section-media {
     position: absolute;
     bottom: 0;
     left: 50%;
     top: 0;
     width: 50%;
}

.hero-section-media .hero-academy-image.academy {
     background-image: url(../assets/hero_academy.jpg);
}

.hero-section .hero-section-media .hero-academy {
     background-position: right center;
     background-size: cover;
     height: 100%;
     position: absolute;
     right: 0;
     top: 0;
     width: 100%;
}

/**************************
*COURSE STYLING RULES
*************************/
section {
     display: block;
     /* vertical-align: baseline; */
}

.container {
     box-sizing: border-box;
     margin: 0 auto;
     max-width: 1200px;
     padding: 0 10px;
     width: 100%;
}

.course_img {
     width: 50px;
     height: 50px;
     margin-bottom: 1.5rem;
}

.courseRow {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 20px;
}

.academyCourses {
     background: #527bdb;
     padding-bottom: 24px;
     padding-top: 24px;
}

.container>h2 {
     margin-top: 12px;
     margin-bottom: 32px;
     color: #fff;
     font-size: 1.875em;
}

.beginners,
.advance,
.powerUser,
.gettingStarted,
.dataStudio,
.fundamentals {
     padding: 10px 7px 0 10px;
     height: 370px;
     width: 260px;
     margin-bottom: .55rem;
     background: #fff;
     box-shadow: 0 1px 3px 0 rgb(227, 227, 227);
}

.beginners h2,
.advance h2,
.powerUser h2,
.gettingStarted h2,
.dataStudio h2,
.fundamentals h2 {
     font-size: 17px;
     line-height: 1.6rem;
     margin-bottom: 2rem;
}

.container p {
     font-size: .91em;
     color: rgb(80, 66, 66);
}

/**************************
*INSTRUCTORS STYLING RULES
*************************/

h3 {
     margin-top: 1rem;
     font-size: 1.8em;
}

.col img {
     height: 200px;
     margin: 0 auto;
     width: 200px;
}

.instructors,
.miniCourse {
     padding-top: 24px;
}

.col {
     display: flex;
     flex-direction: column;
     margin-left: 5px;
     padding: 4px;
     margin-top: 20px;
}

.col h3 {
     border-bottom: 1px solid #a9a9a9;
     font-size: 1.25rem;
     padding-bottom: 14px;
     padding-left: 24px;
     padding-top: -8px;
}

.col>p {
     padding: 24px;
     font-size: 1em;
     line-height: 1.5em;
}

.justin,
.krista,
.ashish {
     display: flex;
     margin-top: 48px;
     background-color: #f2f2f2;
     box-shadow: 0 4px 5px 0 #a9a9a9;
     margin-top: 48px;
     min-height: 200px;
}

/**************************
*MNI COURSES STYLING RULES
*************************/

h3 {
     font-size: 1.4em;
     font-weight: 500;
}

.overView {
     padding-top: 20px;
}

.overView p {
     font-size: .965em;
}

.miniCourse-list img {
     height: 60px;
     width: 60px;
}

.miniCourse-list {
     padding-top: 25px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     gap: 1.3rem;
}

.firebase,
.manager,
.optimize,
.playlists {
     padding: 15px;
     border-radius: 5px;
     text-align: center;
     max-height: 150px;
     width: 250px;
     background: #f2f2f2;
     box-shadow: 0 4px 7px 0 #a9a9a9;
}

.firebase p,
.manager p,
.optimize p,
.playlists p {
     margin-top: 19px;
}

/***********************************
*ADDITIONAL RSOURCES STYLING RULES
**********************************/

.resources {
     margin-top: 35px;
     background: #f2f2f2;
     padding: 25px;
}

.resources .header-divider {
     padding: 24px;
     font-size: 1em;
     border-bottom: 2px solid rgb(190, 186, 186);
}

.resourcesList {
     padding-top: 50px;
     padding-bottom: 20px;
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     gap: 1.3rem;
}

.resourcesList img {
     height: 40px;
     width: 40px;
     margin-bottom: 10px;
}

.resourcesList p {
     font-size: .75rem;
}

.demo,
.helpCenter,
.channel,
.blog,
.developer {
     border-radius: 5px;
     text-align: center;
     /* max-height: 150px; */
     width: 160px;
}

/**************************
*MEDIA STYLING RULES
*************************/

@media screen and (max-width: 1024px) {
     .courseRow {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
     }

     .beginners,
     .advance,
     .powerUser,
     .gettingStarted,
     .dataStudio,
     .fundamentals {
          /* padding: 10px 7px 0 10px; */
          height: 370px;
          width: 300px;
          margin-bottom: .55rem;
          background: #fff;
          box-shadow: 0 1px 3px 0 rgb(227, 227, 227);
          border-radius: 6px;
     }
}

/* @media screen and (max-width: 768px) {

} */


@media screen and (min-width:768px) {
     #nav-list {
          display: flex;
          padding-top: 0;
     }

     .navbar-1 {
          height: calc(3rem + 1rem);
     }


     .nav-item {
          margin-left: 3rem;
          margin-bottom: 0.5rem;
     }

     .nav-link {
          color: #333;
          font-weight: 600;
     }
}

@media screen and (max-width:825px) {

     .nav-menu {
          position: fixed;
          top: 4.42rem;
          left: 100%;
          width: 60%;
          background: #ddd;
          height: 100%;
          padding: 2rem;
          transition: 1.8s;
     }

     .btn-toggle {
          display: block;
     }

     .firebase img,
     .manager img,
     .optimize img,
     .playlists img {
          margin-top: 17px;
     }



     .learn {
          width: 420px;
          margin-left: 20px;
          height: 200px;
          font-size: 1em;
     }

     .courseRow {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
     }

     .img {
          display: none;
     }

     .resourcesList {
          padding: 20px;
          display: grid;
          grid-template-columns: repeat(1, .5fr);
          gap: 1.3rem;
     }

     .beginners,
     .advance,
     .powerUser,
     .gettingStarted,
     .dataStudio,
     .fundamentals {
          padding: 10px 7px 0 10px;
          height: 370px;
          width: 350px;
          margin-bottom: .55rem;
          background: #fff;
          box-shadow: 0 1px 3px 0 rgb(227, 227, 227);
          border-radius: 6px;
     }

     .course_img {
          width: 70px;
          height: 70px;
          margin-top: 19px;
          margin-bottom: 2.4rem;
     }

     .justin img,
     .krista img,
     .ashish img {
          display: none;
     }
}
