* {
     padding: 0;
     margin: 0;
     outline: 0;
     list-style: none;
     text-decoration: none;
     box-sizing: border-box;
     border: 0;
}

:root {
     --container-width-lg: 80%;
     --container-width-md: 90%;
     --container-width-sm: 94%;
}

html {
     scroll-behavior: smooth;
}

body {
     font-family: Arial, Helvetica, sans-serif;
}

p {
     vertical-align: baseline;
}

section {
     padding: 0 2rem;
}

section h2 {
     /* text-align: center; */
     margin-left: 7rem;
     margin-bottom: 3.5rem;
}

.navbar-1 {
     position: fixed;
     height: 4rem;
     top: 0;
     left: 0;
     width: 100%;
     background-color: #f2f2f2;
     box-shadow: 0px 1px 4px rgba(146, 161, 176, .15);
     z-index: 11;
}

.container {
     width: var(--container-width-lg);
     margin: 0 auto;
}

/**************************
*NAV STYLING RULES
***************************/

.nav_container {
     height: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

nav button {
     display: none;
}

#nav-list {
     display: flex;
     align-items: center;
     gap: 2rem;
     transition: all 400ms;
}

.nav-link {
     text-decoration: none;
     color: #333;
     position: relative;
     font-size: .9rem;
     font-weight: 600;
}

#nav-list.toggleShow {
     right: 0;
     transition: 1.5s;
}

.nav-logo a img {
     height: 25px;
     margin-right: 6px;
}

.nav-logo a {
     font-size: 1.2rem;
     display: flex;
     align-items: center;
     color: #333;
}

/**************************
*MAIN STYLING RULES
***************************/
/**************************
*COURSE STYLING RULES
*************************/
.course_img {
     width: 50px;
     height: 50px;
     margin-bottom: 1.5rem;
}

.courses_container {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 20px;
}

.academyCourses {
     background: #527bdb;
     padding-bottom: 24px;
     padding-top: 24px;
     width: 100vw;
}

.academyCourses h2 {
     margin-top: 12px;
     color: #fff;
     font-size: 1.875em;
}

.beginners,
.advance,
.powerUser,
.gettingStarted,
.dataStudio,
.fundamentals {
     position: relative;
     padding: 10px 7px 0 10px;
     height: 370px;
     width: 240px;
     margin-bottom: .55rem;
     background: #fff;
     box-shadow: 0 1px 3px 0 rgb(227, 227, 227);
}

i.fa {
     position: absolute;
     top: 80%;
     left: 85%;
     font-size: 25px;
     color: #e3872c;
     color: orange;
     cursor: pointer;
}

/* .fa span{
     font-size: 70px;
} */

.beginners h3,
.advance h3,
.powerUser h3,
.gettingStarted h3,
.dataStudio h3,
.fundamentals h3 {
     font-size: 1.2rem;
     line-height: 1.6rem;
     margin-bottom: 2rem;
     font-weight: 600;
}

.container p {
     font-size: .91em;
     color: rgb(80, 66, 66);
}

/**************************
*INSTRUCTORS STYLING RULES
*************************/

h3 {
     margin-top: 1rem;
     font-size: 1.8em;
}

.col img {
     height: 200px;
     margin: 0 auto;
     width: 200px;
}

.instructors,
.miniCourse {
     padding-top: 24px;
}

.col {
     display: flex;
     flex-direction: column;
     margin-left: 5px;
     padding: 4px;
     margin-top: 20px;
}

.col h3 {
     border-bottom: 1px solid #a9a9a9;
     font-size: 1.25rem;
     padding-bottom: 14px;
     padding-left: 24px;
     padding-top: 8px;
}

.col>p {
     padding: 24px;
     font-size: 1em;
     line-height: 1.5em;
}

.justin,
.krista,
.ashish {
     display: flex;
     margin-top: 48px;
     background-color: #f2f2f2;
     box-shadow: 0 4px 5px 0 #a9a9a9;
     margin-top: 48px;
     min-height: 200px;
}

/**************************
*MNI COURSES STYLING RULES
*************************/

h3 {
     font-size: 1.4em;
     font-weight: 500;
}

.overView {
     padding-top: 20px;
}

.overView p {
     font-size: .965em;
}

.miniCourse-list img {
     height: 60px;
     width: 60px;
}

.miniCourse-list {
     padding-top: 25px;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     flex-wrap: wrap;
     gap: 1.3rem;
}

.firebase,
.manager,
.optimize,
.playlists {
     padding: 15px;
     border-radius: 5px;
     text-align: center;
     max-height: 150px;
     width: 250px;
     background: #f2f2f2;
     box-shadow: 0 4px 7px 0 #a9a9a9;
}

.firebase p,
.manager p,
.optimize p,
.playlists p {
     margin-top: 19px;
}

/***********************************
*ADDITIONAL RSOURCES STYLING RULES
**********************************/

.resources {
     margin-top: 35px;
     background: #f2f2f2;
     padding: 25px;
}

.resources .header-divider {
     padding: 24px;
     font-size: 1em;
     border-bottom: 2px solid rgb(190, 186, 186);
}

.resourcesList {
     padding-top: 50px;
     padding-bottom: 20px;
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     gap: 1.3rem;
}

.resourcesList img {
     height: 40px;
     width: 40px;
     margin-bottom: 10px;
}

.resourcesList p {
     font-size: .75rem;
}

.demo,
.helpCenter,
.channel,
.blog,
.developer {
     border-radius: 5px;
     text-align: center;
     /* max-height: 150px; */
     width: 160px;
}

/**************************
*MEDIA STYLING RULES (TABLETS)
*************************/

@media screen and (max-width:1140px) {
     nav button {
          display: none;
     }

}

@media screen and (max-width:1024px) {
     .container {
          width: var(--container-width-md);
     }

     nav button {
          display: inline-block;
          font-size: 2rem;
          color: var(--color-white);
          background: transparent;
          cursor: pointer;
     }

     button#close-menu-toggle {
          display: none;
     }

     #nav-list {
          flex-direction: column;
          gap: 0;
          position: fixed;
          top: 4rem;
          right: -100%;
          width: 16rem;
          height: fit-content;
          /* display: none; */
     }

     #nav-list li {
          width: 100%;
          height: 6rem;
          animation: animateNavBar 1.2s linear forwards;
          transform-origin: top right;
          opacity: 0;
     }

     #nav-list li a {
          width: 100%;
          height: 100%;
          color: #fff;
          display: grid;
          place-items: center;
          font-size: 1rem;
          font-weight: 500;
          background: #333;
          transition: all 500ms ease;
     }

     #nav-list li:nth-child(2) {
          animation-delay: 1s;
     }

     #nav-list li:nth-child(3) {
          animation-delay: 2s;
     }

     #nav-list li:nth-child(4) {
          animation-delay: 3s;
     }

     #nav-list li:nth-child(5) {
          animation-delay: 4s;
     }

     #nav-list li a:hover {
          background: linear-gradient(rgba(0, 0, 0, 0.6), #333);
          font-size: .95rem;
     }

     @keyframes animateNavBar {
          0% {
               transform: rotateZ(-90deg) rotateX(45deg) scale(0.1);
          }

          100% {
               transform: rotateZ(0) rotateX(0) scale(1);
               opacity: 1;
          }
     }

     /************** ACADEMY COURSES *************/
     /* .academyCourses {
          width: 100%;
     } */

     .courses_container {
          grid-template-columns: repeat(3, 1fr);
     }

     .resourcesList {
          grid-template-columns: repeat(3, 1fr);
          gap: 2rem;
     }

     .miniCourse-list {
          grid-template-columns: repeat(3, 1fr);
     }

     .justin img,
     .krista img,
     .ashish img {
          display: none;
     }
}


/**************************
*MEDIA STYLING RULES (MOBILE)
*************************/

@media screen and (max-width:768px) {
     .container {
          width: var(--container-width-sm);
     }

     .courses_container {
          grid-template-columns: 1fr 1fr;
          gap: 0.6rem;
          place-items: center;
     }

     .resourcesList {
          grid-template-columns: 1fr 1fr;
          place-items: center;
          gap: 2.5rem;
     }

     .miniCourse-list {
          grid-template-columns: repeat(2, 1fr);
          place-items: center;
     }
}

@media screen and (max-width:425px) {
     .container {
          width: var(--container-width-sm);
     }

     .academyCourses h2 {
          font-size: 1rem;
          text-align: center;
          margin-left: 0;
     }

     .courses_container {
          grid-template-columns: 1fr;
          gap: 0.6rem;
          place-items: center;
     }

     .resourcesList {
          grid-template-columns: 1fr 1fr;
          place-items: center;
          gap: 2.5rem;
     }

     .miniCourse-list {
          grid-template-columns: 1fr;
          place-items: center;
     }
}
